#intro{
    background-image:url("/img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0;
    width: 100%;
}
.headSideBar{
    border-bottom:1px solid white;
    height: 15%;
}
#intro ul{
    /*margin-top: 50px;*/
}
#intro li{
    display: inline;
    margin-right: 100px;
    font-family: Arial;
    font-size: 24px;
    float: left;

}
.logo{
    float: right;
}
.introduce{
    width: 100%;
    height: 300px;
    margin: 100px 30px 20px 200px;
    border: 1px black solid;
}
.introduce p{
    font-size: 60px;
    text-transform: uppercase;
    font-variant: small-caps;
    font-family: "Times New Roman";
    margin-top: 10px;
    margin-bottom: 10px;
}